html,body{
    background-color: rgb(211, 255, 255);
}

table{
    background-color: white;
    border: 1px solid black;
    width: 100%;
    border-radius: 2%;
}

tr{
   width: 50%;
   border: 1px solid yellow;
}
td{
    border: 1px solid yellow;
    
}

.modelo{
    width:70%;
    border-radius: 20%;
    padding: 1%;
}
.lado{
    text-align: right;
}
.margin{
    margin: 0px;
}
.tam{
    font-size: 12.5px;
    margin: 0px;
}
.tam1{
}