*{
    padding: 0;
    margin: 0%;
}

body,html{
    width: 100%;
    height: 100%;
}

p::first-line{
    color: green;
}

p::first-letter{
    font-size: 200%;
    text-decoration: underline;
}